*{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif
}

.warning {
    position: absolute;
    font-size: 100px;
    font-weight: 900;
    color: rgba(255, 0, 0, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
}

tr {
    border-bottom: 2px solid grey;
    margin: 1rem;
}
td {
    border-bottom: 2px solid darkgrey;
}
th {
    border-bottom: 3px solid rgb(53, 52, 52);
}
.bc {
    text-align: center;
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
    height: 100%;
    
}
h1,h2,h3,h4 {
    font-weight: 100;
    margin: 1rem;
}

.datos {
    text-align: left;
}

@media print{
    .document {
        page-break-before:always;
    }
}

@media print {
    .no-print {
        display: none !important;
    }
}
.demographics-container {
    height: 200px;
    margin: 1rem;
    padding: 1rem;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid black;
    border-radius: 5px;
}

.demographic-header {

    font-size: 20px;
    display: flex;
    text-align: center;
    border-bottom: 1px solid black;
}